@font-face {
  font-family: 'Eulyoo1945-Regular';
  src: url('./Eulyoo1945-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Eulyoo1945-SemiBold';
  src: url('./Eulyoo1945-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'CodeNext-Trial-ExtraBold';
  src: url('./CodeNext-Trial-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'GmarketSansTTFBold';
  src: url('./GmarketSansTTFBold.ttf') format('truetype');
}

@font-face {
  font-family: 'GmarketSansTTFLight';
  src: url('./GmarketSansTTFLight.ttf') format('truetype');
}

@font-face {
  font-family: 'GmarketSansTTFMedium';
  src: url('./GmarketSansTTFMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare_acR';
  src: url('./NanumSquare_acR.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareEB';
  src: url('./NanumSquareEB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareB';
  src: url('./NanumSquareB.ttf') format('truetype');
}

@font-face {
  font-family: 'ChangwonDangamAsac-Bold';
  src: url('./ChangwonDangamAsac-Bold_0712.ttf') format('truetype');
}
