/* Map */
#map-layout {
  height: 100%;
  width: 100%;
  position: fixed;
}

#map-layout #content {
  width: 100% !important;
  height: inherit;
  display: flex;
}

#map-layout #content #map-info {
  width: 80%;
  height: inherit;
}

#map-layout #content #map-info #map-control {
  position: absolute;
  z-index: 1000;
  display: grid;
  padding: 10px;
}

#map-layout #content #map-info #map-control span {
  font-size: 20px;
  top: 53px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dadce0;
  background: #fff;
  cursor: pointer;
}

#map-layout #content #map-info #map-control span:hover {
  background: #4096ff;
  color: #fff;
  border: 1px solid #4096ff;
}

#map-layout #content #team-info {
  width: 20%;
  height: inherit;
  box-shadow:
    0 1px 2px rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  opacity: 1;
  background: #fff;
  z-index: 1000;
}

#map-layout #content #team-info .team-info-search-row {
  height: 130px;
  background-image: url(/src/assets/images/bg_search.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
}

#map-layout #content #team-info .team-info-search-col {
  padding: 10px;
}

#map-layout #content #team-info .ant-input-search {
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.2),
    0 -1px 0px rgba(0, 0, 0, 0.02);
  border-radius: 24px;
  height: 48px;
  align-items: center;
  display: flex;
  background: #fff;
}

#map-layout #content #team-info .ant-input-search .ant-input-group {
  padding: 0px 10px 0px 20px;
}

#map-layout #content #team-info .ant-input-search .ant-input {
  border: 0;
  background: unset;
  font-size: 18px;
}

#map-layout #content #team-info .ant-input-search .ant-input-group-addon {
  background: unset;
}

#map-layout #content #team-info .ant-input-search .ant-input-group-addon button {
  border: 0;
  background: unset;
}

#map-layout #content #team-info .ant-input-search .ant-input-group-addon .anticon.anticon-search {
  font-size: 20px;
}

#map-layout #content #team-info .team-info-row {
  height: 43px;
}

#map-layout #content #team-info .team-info-row {
  cursor: pointer;
  border-bottom: 1px solid #dadce0;
  background-color: #fff;
  z-index: 10;
  padding: 0 10px;
}

#map-layout #content #team-info .team-info-row.selected {
  animation: shadow-inset-tl 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#map-layout #content #team-info .team-info-row.selected:hover {
  animation: shadow-inset-tl 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#map-layout #content #team-info .team-info-row:hover {
  animation: shadow-drop-2-bl 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  border: 1px solid #dadce0;
}

@keyframes shadow-drop-2-bl {
  0% {
    transform: translateZ(0) translateX(0) translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px) translateX(12px) translateY(-12px);
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-inset-tl {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: #f2f3f5;
  }
  100% {
    box-shadow: inset 6px 6px 14px -6px rgba(0, 0, 0, 0.5);
    background-color: #f2f3f5;
  }
}

#map-layout #content #team-info .team-color-input {
  width: 50px;
  height: 30px;
  border: 0;
  background: unset;
}

#map-layout #content #team-info .team-info-row .ant-col {
  display: flex;
  align-items: center;
}

#map-layout #content #team-info .team-info-row span {
  font-size: 20px;
  margin-left: 8px;
  font-family: 'GmarketSansTTFBold';
  padding-top: 4px;
}

#map-layout #content .leaflet-container .leaflet-pane.leaflet-marker-pane img {
  /* content: url(/src/assets/images/flag.svg);  */
}

#map-layout #content #teamDeleteModal .ant-modal {
  width: 400px !important;
}
#map-layout #content #teamDeleteModal .ant-modal .ant-modal-close {
  display: none;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-header {
  padding: 24px;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-title {
  font-size: 26px !important;
  font-family: 'GmarketSansTTFBold';
  line-height: unset;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body {
  font-size: 24px;
  font-family: 'GmarketSansTTFBold';
  /* color: #9E9FA5; */
  max-height: 490px;
  min-height: 220px;
  overflow: auto;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-row {
  padding-bottom: 4px;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-col-1 .ant-image {
  margin-right: 10px;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-row button {
  border-color: #000;
}
#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-row button:focus {
  color: #000;
}
#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-row button:hover,
#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-row button:active {
  border-color: #ff4d4f;
  background: #ff4d4f;
  color: #fff;
}

#map-layout #content #teamDeleteModal .ant-modal .anticon.anticon-delete {
  font-size: 24px;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-footer .ant-btn.ant-btn-default {
  width: 70px;
  height: 40px;
  font-size: 16px;
}
#map-layout #content #teamDeleteModal .ant-modal .ant-modal-footer .ant-btn.ant-btn-default:hover {
  background: #a1a2a4;
  color: #fff;
  border-color: #a1a2a4;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-row-nodata {
  font-size: 20px;
  font-family: 'GmarketSansTTFMideum';
}

.confirm-search-result .ant-modal-content .ant-modal-confirm-body .ant-modal-confirm-title {
  font-size: 26px !important;
  font-family: 'GmarketSansTTFBold';
}
.confirm-search-result .ant-modal-content .ant-modal-confirm-body .ant-modal-confirm-content {
  font-size: 30px !important;
  font-family: 'GmarketSansTTFBold';
  /* color: #9E9FA5; */
  margin: 20px 0px;
}
.confirm-search-result .ant-modal-content .ant-modal-confirm-body .ant-modal-confirm-content .ant-image {
  margin-right: 10px;
}
.confirm-search-result .ant-modal-content .ant-modal-confirm-btns .ant-btn.ant-btn-default {
  width: 70px;
  height: 40px;
  font-size: 16px;
}
.confirm-search-result .ant-modal-content .ant-modal-confirm-btns .ant-btn.ant-btn-default:hover {
  background: #a1a2a4;
  color: #fff;
  border-color: #a1a2a4;
}
.confirm-search-result .ant-modal-content .ant-modal-confirm-btns .ant-btn.ant-btn-primary {
  width: 100px;
  height: 40px;
  font-size: 16px;
}

.confirm-team-delete .ant-modal-content .ant-modal-confirm-body .ant-modal-confirm-content {
  font-size: 24px !important;
  font-family: 'GmarketSansTTFMideum';
  margin: 20px 0px;
}
.confirm-team-delete .ant-modal-content .ant-modal-confirm-btns .ant-btn.ant-btn-default {
  width: 70px;
  height: 40px;
  font-size: 16px;
}
.confirm-team-delete .ant-modal-content .ant-modal-confirm-btns .ant-btn.ant-btn-default:hover {
  background: #a1a2a4;
  color: #fff;
  border-color: #a1a2a4;
}
.confirm-team-delete .ant-modal-content .ant-modal-confirm-btns .ant-btn.ant-btn-default.ant-btn-dangerous:hover {
  border-color: #ff4d4f;
  background: #ff4d4f;
  color: #fff;
}
/* Map */

/* Map Status*/
#map-status-layout {
  background: #fafafa;
  height: 100%;
  width: 100%;
  position: fixed;
}

#map-status-layout .map-status-refresh {
  text-align: right;
  background: #fff;
  padding: 10px 10px;
}

#map-status-layout .map-status-refresh button {
  font-size: 16px;
  border: 0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}
#map-status-layout .map-status-refresh button:hover,
#map-status-layout .map-status-refresh button:focus {
  color: #000 !important;
}

#map-status-layout .map-status-title {
  font-size: 20px;
  padding-bottom: 40px;
  font-family: 'NanumSquareEB';
  background: #fff;
}

#map-status-layout .map-status-title .ant-col {
  text-align: center;
}

#map-status-layout .ant-tabs-nav-list {
  width: 100%;
  font-family: 'GmarketSansTTFMedium';
}
#map-status-layout .ant-tabs-nav-list .ant-tabs-tab {
  text-align: center;
  flex: none;
  display: block;
  margin-left: 0;
  border: 0;
  background: #fff;
}
#map-status-layout .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active {
  background: #fafafa;
}
#map-status-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(1) {
  width: 50%;
  font-size: 14px;
}
#map-status-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(2) {
  width: 50%;
  font-size: 14px;
}

#map-status-layout .ant-tabs-content-holder {
  height: calc(var(--vh) - 260px);
  /* height: -webkit-fill-available; */
  /* height: fill-available; */
  overflow-y: auto;
}

#map-status-layout .ant-tabs-content.ant-tabs-content-top {
  padding: 10px 20px;
}

#map-status-layout .team-color-input {
  width: 30px;
  height: 30px;
  border: 0;
  background: unset;
}

#map-status-layout .team-info-row {
  margin-bottom: 20px;
}

#map-status-layout .team-info-row .ant-col {
  display: flex;
  align-items: center;
}

#map-status-layout .team-info-row span {
  font-size: 18px;
  margin-left: 8px;
  font-family: 'GmarketSansTTFBold';
  padding-top: 4px;
}

#map-status-layout .country-info-row {
  margin-bottom: 14px;
}

#map-status-layout .country-info-row span {
  font-size: 18px;
  margin-left: 8px;
  font-family: 'GmarketSansTTFBold';
  padding-top: 4px;
}
/* iPhone SE, 6/7/8, X, Galaxy S8 */
@media (max-width: 375px) and (orientation: portrait) {
  #map-status-layout .team-info-row span {
    font-size: 16px;
    margin-left: 8px;
    font-family: 'GmarketSansTTFBold';
    padding-top: 4px;
  }

  #map-status-layout .country-info-row {
    margin-bottom: 8px;
  }

  #map-status-layout .country-info-row span {
    font-size: 16px;
    margin-left: 8px;
    font-family: 'GmarketSansTTFBold';
    padding-top: 4px;
  }
}
/* iPhone 5/SE */
@media (max-width: 320px) and (orientation: portrait) {
  #map-status-layout .team-info-row span {
    font-size: 14px;
    margin-left: 6px;
    font-family: 'GmarketSansTTFBold';
    padding-top: 4px;
  }

  #map-status-layout .country-info-row {
    margin-bottom: 6px;
  }

  #map-status-layout .country-info-row span {
    font-size: 14px;
    margin-left: 6px;
    font-family: 'GmarketSansTTFBold';
    padding-top: 4px;
  }
}
/* Map Status*/
