@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import 'antd/dist/antd.css';
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
@import '../fonts/font.css';

html,
body,
#root {
  font-family:
    'Noto Sans CJK KR',
    Noto Sans KR,
    sans-serif !important;
  font-weight: 500;
  margin: 0;
  height: 100%;
}

/* User Defined */
.m-0-50 {
  margin: 0 50px;
}

.grid-cell-button {
  border-radius: 20px;
}
/* User Defined */

/* Spin */
.ant-spin-nested-loading {
  height: 100%;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-text {
  font-size: 20px;
  text-shadow: unset;
}
/* Spin */

/* List */
.ant-list-empty-text {
  display: none;
}
/* List */

/* AG Grid */
.ag-theme-alpine .ag-root-wrapper {
  /* border: none; */
  border-radius: 10px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.ag-header-cell-label {
  justify-content: center;
}

.grid-empty-wrap {
  background-color: #fff;
  height: 60px;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

.ag-theme-alpine .ag-ltr .ag-cell {
  font-size: 12px;
  line-height: 2.8em;
}

.ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value.ag-cell-focus {
  border: none;
}
/* AG Grid */

/* PC */
@media (min-width: 1024px) {
  #content {
    width: 40% !important;
    margin: 0 auto 50px;
  }
}

/* 테블릿 세로 (min-height, landscape가 들어간 이유: 갤럭시탭 가상 키보드 버그) */
@media (min-height: 800px) and (orientation: landscape),
  (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  #content {
    width: 60% !important;
    margin: 0 auto 50px;
  }
}

/* 테블릿 가로 */
@media (min-width: 899px) and (max-width: 1023px) and (orientation: landscape) {
  #content {
    width: 60% !important;
    margin: 0 auto 50px;
  }
}

/* 모바일 가로 */
@media (min-width: 480px) and (max-width: 896px) and (orientation: landscape) {
  #content {
    width: 60% !important;
    margin: 0 auto 50px;
  }
}

/* 모바일 세로 */
@media (max-width: 480px) and (orientation: portrait) {
  .ant-modal.ant-modal-confirm.ant-modal-confirm-confirm {
    max-width: calc(100vw - 50px);
  }
}
