/*
 * 선교 바자회 공통 스타일 
 */

:root {
  --color-1-1: #ff4d4c;
  --color-1-2: #cc8d8d;
  --color-2-1: #0baeeb;
  --color-2-2: #70b5d2;
  --color-3-1: #7935fe;
  --color-3-2: #987bd0;
  --color-4-1: #1677ff;
  --color-5-1: #ff7212;
  --color-6-1: #ffbd48;
  --color-7-1: #6cd848;
  --color-0: #a9a9a9;
  --vh: 100%;
}

/* font */
.color-0 {
  color: #c41c7f;
}
.color-1 {
  color: #004f9f;
}
.color-2 {
  color: #f39200;
}
.color-3 {
  color: #ea4e3d;
}
.color-4 {
  color: #7eb105;
}
.underline {
  text-decoration: underline;
}

/* border */
.bl-1 {
  border-left: 3px solid #004f9f !important;
}
.bl-2 {
  border-left: 3px solid #f39200 !important;
}
.bl-3 {
  border-left: 3px solid #ea4e3d !important;
}
.bl-4 {
  border-left: 3px solid #7eb105 !important;
}

/* background */
.bgc-1 {
  background-color: #004f9f !important;
}
.bgc-2 {
  background-color: #f39200 !important;
}
.bgc-3 {
  background-color: #ea4e3d !important;
}
.bgc-4 {
  background-color: #7eb105 !important;
}

#rank-layout {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #2660ff;
  background-image: linear-gradient(#2660af 1px, transparent 1px), linear-gradient(to right, #2660af 1px, #2660ff 1px);
  background-size: 80px 80px;
}

#rank-layout #rank-layout-image {
  height: 100%;
  width: 100%;
  background-image: url(/src/assets/images/bg_rank.png);
  background-repeat: no-repeat;
  background-size: 1920px 1050px;
  position: absolute;
  z-index: 3000;
  top: 35px;
}

#rank-layout .icon-game-basketball {
  position: absolute;
  top: 62px;
  left: 370px;
  z-index: 100;
}
#rank-layout .icon-game-baseball {
  position: absolute;
  top: 220px;
  left: 925px;
  z-index: 100;
}
#rank-layout .icon-game-dart {
  position: absolute;
  top: 120px;
  left: 1400px;
  z-index: 100;
}
#rank-layout .icon-game-shoot {
  position: absolute;
  top: 645px;
  right: 490px;
  z-index: 100;
}
#rank-layout .icon-game-paper {
  position: absolute;
  top: 595px;
  left: 420px;
  z-index: 100;
}
#rank-layout .icon-game-golf {
  position: absolute;
  top: 635px;
  left: 410px;
  z-index: 100;
}
#rank-layout .icon-game-punch {
  position: absolute;
  top: 200px;
  left: 900px;
  z-index: 100;
}
#rank-layout .icon-game-mole {
  position: absolute;
  top: 72px;
  left: 1378px;
  z-index: 100;
}

#rank-layout .rank-header {
  font-family: 'ChangwonDangamAsac-Bold';
  font-size: 60px;
  text-align: center;
  padding: 20px 0 22px 0;
}

#rank-layout .rank-header span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.4s ease infinite alternate;
  font-size: 110px;
  color: #fff;
  text-shadow:
    -2px 0 #000,
    0 2px #000,
    2px 0 #000,
    0 -2px #000,
    1px 1px #000,
    2px 2px #000,
    3px 3px #ffbd48,
    4px 4px #ffbd48,
    5px 5px #ffbd48,
    6px 6px #ffbd48,
    7px 7px #000,
    8px 8px #000;
}

#rank-layout .rank-header span:nth-child(2) {
  animation-delay: 0.1s;
}
#rank-layout .rank-header span:nth-child(3) {
  animation-delay: 0.2s;
}
#rank-layout .rank-header span:nth-child(4) {
  animation-delay: 0.3s;
}
#rank-layout .rank-header span:nth-child(5) {
  animation-delay: 0.4s;
}
#rank-layout .rank-header span:nth-child(6) {
  animation-delay: 0.5s;
}
#rank-layout .rank-header span:nth-child(7) {
  animation-delay: 0.6s;
}
#rank-layout .rank-header span:nth-child(8) {
  animation-delay: 0.7s;
}
#rank-layout .rank-header span:nth-child(9) {
  animation-delay: 0.8s;
}
#rank-layout .rank-header span:nth-child(10) {
  animation-delay: 0.9s;
}
#rank-layout .rank-header span:nth-child(11) {
  animation-delay: 0.1s;
}
#rank-layout .rank-header span:nth-child(12) {
  animation-delay: 0.11s;
}
#rank-layout .rank-header span:nth-child(13) {
  animation-delay: 0.12s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow:
      -2px 0 #000,
      0 2px #000,
      2px 0 #000,
      0 -2px #000,
      1px 1px #000,
      2px 2px #000,
      3px 3px #ffbd48,
      4px 4px #ffbd48,
      5px 5px #ffbd48,
      6px 6px #ffbd48,
      7px 7px #000,
      8px 8px #000;
  }
}

#rank-layout .ant-card {
  border-radius: 20px;
  border-left: 4px solid;
  border-right: 10px solid;
  border-top: 4px solid;
  border-bottom: 10px solid;
  min-height: 760px;
}

#rank-layout .ant-card-head {
  font-family: 'ChangwonDangamAsac-Bold';
  font-size: 60px;
  text-align: center;
  padding: 20px 10px 10px 10px;
  border-bottom: none;
}
#rank-layout .rank-card-2 .ant-card-head {
  padding: 10px 10px 0px 10px;
}

#rank-layout .rank-card-1 .ant-card-head .ant-card-head-title {
  color: var(--color-1-1);
}
#rank-layout .rank-card-2 .ant-card-head .ant-card-head-title {
  color: var(--color-2-1);
  padding: 0;
  font-size: 50px;
}
#rank-layout .rank-card-3 .ant-card-head .ant-card-head-title {
  color: var(--color-3-1);
}
#rank-layout .rank-card-4 .ant-card-head .ant-card-head-title {
  color: var(--color-5-1);
  font-size: 55px;
}
#rank-layout .rank-card-5 .ant-card-head .ant-card-head-title {
  color: var(--color-6-1);
}
#rank-layout .rank-card-6 .ant-card-head .ant-card-head-title {
  color: var(--color-7-1);
}
#rank-layout .rank-card-2 .ant-card-head .ant-card-head-title .ant-row:nth-child(2) {
  position: relative;
  top: -20px;
}
#rank-layout .rank-card-2 .ant-card-body,
#rank-layout .ant-card-body {
  font-family: 'GmarketSansTTFLight';
  font-size: 28px;
  padding-top: 0;
}

#rank-layout .ant-card-body .rank-list-data-row {
  margin-bottom: 6px;
}

#rank-layout .ant-card-body .rank-list-data-row.rank {
  border-radius: 20px;
}

#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank1 {
  border: 2px solid var(--color-1-1);
}
#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank2 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank3 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank1 {
  border: 2px solid var(--color-2-1);
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank2 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank3 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank1 {
  border: 2px solid var(--color-3-1);
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank2 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank3 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-4 .ant-card-body .rank-list-data-row.rank1 {
  border: 2px solid var(--color-5-1);
}
#rank-layout .rank-card-4 .ant-card-body .rank-list-data-row.rank2 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-4 .ant-card-body .rank-list-data-row.rank3 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-5 .ant-card-body .rank-list-data-row.rank1 {
  border: 2px solid var(--color-6-1);
}
#rank-layout .rank-card-5 .ant-card-body .rank-list-data-row.rank2 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-5 .ant-card-body .rank-list-data-row.rank3 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-6 .ant-card-body .rank-list-data-row.rank1 {
  border: 2px solid var(--color-7-1);
}
#rank-layout .rank-card-6 .ant-card-body .rank-list-data-row.rank2 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-6 .ant-card-body .rank-list-data-row.rank3 {
  border: 2px solid var(--color-0);
}

#rank-layout .ant-card-body .rank-list-data-row .rank-list-data-col-1 {
  font-family: 'ChangwonDangamAsac-Bold';
  text-align: center;
}

#rank-layout .ant-card-body .rank-list-data-row.rank .rank-list-data-col-1 {
  border-radius: 17px 0 0 17px;
  color: #fff;
  padding: 6px 0;
}

#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-1 {
  background: var(--color-1-1);
}
#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-1 {
  background: var(--color-2-1);
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-1 {
  background: var(--color-3-1);
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-4 .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-1 {
  background: var(--color-5-1);
}
#rank-layout .rank-card-4 .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-4 .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-5 .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-1 {
  background: var(--color-6-1);
}
#rank-layout .rank-card-5 .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-5 .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-6 .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-1 {
  background: var(--color-7-1);
}
#rank-layout .rank-card-6 .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-6 .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-1 {
  background: var(--color-0);
}

#rank-layout .ant-card-body .rank-list-data-col-2 .ant-typography {
  font-size: 18px;
  color: unset;
}

#rank-layout .ant-card-body .rank-list-data-row .rank-list-data-col-2 {
  padding: 2px 0px 0px 30px;
  font-weight: bold;
}

#rank-layout .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-2 {
  font-family: 'GmarketSansTTFBold';
}

#rank-layout .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-2,
#rank-layout .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-2,
#rank-layout .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-2 {
  padding: 8px 0px 0px 30px;
}

#rank-layout .ant-card-body .rank-list-data-col-3 {
  font-family: 'GmarketSansTTFBold';
  text-align: right;
  padding: 0px 24px 0px 0px;
}

#rank-layout .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-3,
#rank-layout .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-3,
#rank-layout .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-3 {
  padding: 8px 24px 0px 0px;
}

#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank1 {
  animation: color-change-5x-1-1 5s linear infinite alternate both;
}
#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank2 {
  animation: color-change-5x-1-2 5s linear infinite alternate both;
}
#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank3 {
  animation: color-change-5x-1-3 5s linear infinite alternate both;
}
@keyframes color-change-5x-1-1 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-1-1);
    color: #fff;
  }
  75% {
    background: var(--color-1-1);
    color: #fff;
  }
  100% {
    background: var(--color-1-1);
    color: #fff;
  }
}
@keyframes color-change-5x-1-2 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-0);
    color: #fff;
  }
  75% {
    background: var(--color-0);
    color: #fff;
  }
  100% {
    background: var(--color-0);
    color: #fff;
  }
}
@keyframes color-change-5x-1-3 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-0);
    color: #fff;
  }
  75% {
    background: var(--color-0);
    color: #fff;
  }
  100% {
    background: var(--color-0);
    color: #fff;
  }
}

#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank1 {
  animation: color-change-5x-2-1 5s linear infinite alternate both;
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank2 {
  animation: color-change-5x-2-2 5s linear infinite alternate both;
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank3 {
  animation: color-change-5x-2-3 5s linear infinite alternate both;
}
@keyframes color-change-5x-2-1 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-2-1);
    color: #fff;
  }
  75% {
    background: var(--color-2-1);
    color: #fff;
  }
  100% {
    background: var(--color-2-1);
    color: #fff;
  }
}
@keyframes color-change-5x-2-2 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-0);
    color: #fff;
  }
  75% {
    background: var(--color-0);
    color: #fff;
  }
  100% {
    background: var(--color-0);
    color: #fff;
  }
}
@keyframes color-change-5x-2-3 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-0);
    color: #fff;
  }
  75% {
    background: var(--color-0);
    color: #fff;
  }
  100% {
    background: var(--color-0);
    color: #fff;
  }
}

#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank1 {
  animation: color-change-5x-3-1 5s linear infinite alternate both;
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank2 {
  animation: color-change-5x-3-2 5s linear infinite alternate both;
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank3 {
  animation: color-change-5x-3-3 5s linear infinite alternate both;
}
@keyframes color-change-5x-3-1 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-3-1);
    color: #fff;
  }
  75% {
    background: var(--color-3-1);
    color: #fff;
  }
  100% {
    background: var(--color-3-1);
    color: #fff;
  }
}
@keyframes color-change-5x-3-2 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-0);
    color: #fff;
  }
  75% {
    background: var(--color-0);
    color: #fff;
  }
  100% {
    background: var(--color-0);
    color: #fff;
  }
}
@keyframes color-change-5x-3-3 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-0);
    color: #fff;
  }
  75% {
    background: var(--color-0);
    color: #fff;
  }
  100% {
    background: var(--color-0);
    color: #fff;
  }
}

#rank-layout .rank-card-4 .ant-card-body .rank-list-data-row.rank1 {
  animation: color-change-5x-4-1 5s linear infinite alternate both;
}
#rank-layout .rank-card-4 .ant-card-body .rank-list-data-row.rank2 {
  animation: color-change-5x-4-2 5s linear infinite alternate both;
}
#rank-layout .rank-card-4 .ant-card-body .rank-list-data-row.rank3 {
  animation: color-change-5x-4-3 5s linear infinite alternate both;
}
@keyframes color-change-5x-4-1 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-5-1);
    color: #fff;
  }
  75% {
    background: var(--color-5-1);
    color: #fff;
  }
  100% {
    background: var(--color-5-1);
    color: #fff;
  }
}
@keyframes color-change-5x-4-2 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-0);
    color: #fff;
  }
  75% {
    background: var(--color-0);
    color: #fff;
  }
  100% {
    background: var(--color-0);
    color: #fff;
  }
}
@keyframes color-change-5x-4-3 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-0);
    color: #fff;
  }
  75% {
    background: var(--color-0);
    color: #fff;
  }
  100% {
    background: var(--color-0);
    color: #fff;
  }
}

#rank-layout .rank-card-5 .ant-card-body .rank-list-data-row.rank1 {
  animation: color-change-5x-5-1 5s linear infinite alternate both;
}
#rank-layout .rank-card-5 .ant-card-body .rank-list-data-row.rank2 {
  animation: color-change-5x-5-2 5s linear infinite alternate both;
}
#rank-layout .rank-card-5 .ant-card-body .rank-list-data-row.rank3 {
  animation: color-change-5x-5-3 5s linear infinite alternate both;
}
@keyframes color-change-5x-5-1 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-6-1);
    color: #fff;
  }
  75% {
    background: var(--color-6-1);
    color: #fff;
  }
  100% {
    background: var(--color-6-1);
    color: #fff;
  }
}
@keyframes color-change-5x-5-2 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-0);
    color: #fff;
  }
  75% {
    background: var(--color-0);
    color: #fff;
  }
  100% {
    background: var(--color-0);
    color: #fff;
  }
}
@keyframes color-change-5x-5-3 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-0);
    color: #fff;
  }
  75% {
    background: var(--color-0);
    color: #fff;
  }
  100% {
    background: var(--color-0);
    color: #fff;
  }
}

#rank-layout .rank-card-6 .ant-card-body .rank-list-data-row.rank1 {
  animation: color-change-5x-6-1 5s linear infinite alternate both;
}
#rank-layout .rank-card-6 .ant-card-body .rank-list-data-row.rank2 {
  animation: color-change-5x-6-2 5s linear infinite alternate both;
}
#rank-layout .rank-card-6 .ant-card-body .rank-list-data-row.rank3 {
  animation: color-change-5x-6-3 5s linear infinite alternate both;
}
@keyframes color-change-5x-6-1 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-7-1);
    color: #fff;
  }
  75% {
    background: var(--color-7-1);
    color: #fff;
  }
  100% {
    background: var(--color-7-1);
    color: #fff;
  }
}
@keyframes color-change-5x-6-2 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-0);
    color: #fff;
  }
  75% {
    background: var(--color-0);
    color: #fff;
  }
  100% {
    background: var(--color-0);
    color: #fff;
  }
}
@keyframes color-change-5x-6-3 {
  0% {
    background: #fff;
    color: #000;
  }
  25% {
    background: #fff;
    color: #000;
  }
  50% {
    background: var(--color-0);
    color: #fff;
  }
  75% {
    background: var(--color-0);
    color: #fff;
  }
  100% {
    background: var(--color-0);
    color: #fff;
  }
}
