/*
 * 온라인 체크 공통 스타일 
 */

/* Main Layout */
#main-layout {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex: auto;
  flex-direction: column;
  /* background-image: url(/src/assets/images/background.jpg); */
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-size: cover;
  /* background-color: currentColor; */
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  overflow-y: scroll;
}

#main-layout #header {
  width: 90%;
  min-height: 6vh;
  padding: 20px 0px;
  margin: auto;
}

#main-layout #header .header-right {
  text-align: right;
}

#main-layout #header .header-right .ant-tag {
  font-size: 14px;
  padding-top: 3px;
  height: 29px;
}

#main-layout .main-title {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.user-attendance-modal-icon {
  margin-bottom: 24px;
}
.user-attendance-modal-icon .icon-wrap {
  text-align: center;
}
.user-attendance-modal-icon .icon-wrap img {
  cursor: pointer;
}

#main-layout #content {
  width: 80%;
  height: 100%;
  min-height: 94vh;
  margin: auto;
  flex: auto;
}

#main-layout #content .search-wrap {
  /* margin-top: 40px; */
  text-align: center;
}

#main-layout #content .search-wrap .ant-input-affix-wrapper {
  height: 45px;
  border-radius: 20px;
  max-width: 500px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

#main-layout #content .search-wrap .ant-input-affix-wrapper .anticon.anticon-search {
  color: #4285f4;
  font-size: 22px;
}

#main-layout #content .grid-wrap {
  margin-top: 30px;
  padding-bottom: 30px;
}

#main-layout #content .grid-wrap .ag-theme-alpine {
  border-radius: 10px;
  /* box-shadow: 0 2px 15px rgb(0 0 0 / 30%); */
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.user-add-modal-wrap .form-item-wrap {
  margin-bottom: 10px;
}

.user-add-modal-wrap .form-item-inner-wrap {
  margin-bottom: 10px;
}

.user-add-modal-wrap .ant-input-suffix {
  color: #696969;
}

.user-add-modal-wrap .ant-modal-footer button {
  width: 64px;
  height: 40px;
}
/* Main Layout */

/* UserAttendanceModal */
.ant-modal-wrap.user-attendance-modal-wrap .ant-modal-content {
  background-color: unset;
}

.ant-modal-wrap.user-attendance-modal-wrap .ant-modal-body {
  min-height: 500px;
  /* background-image: url(/src/assets/images/attendance_bg.png); */
  background-repeat: no-repeat;
  background-size: cover;
}

.user-attendance-modal-title {
  height: 160px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.user-attendance-modal-info {
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
}

.user-attendance-modal-info .user-name {
  font-size: 18px;
  font-weight: bold;
}

.user-attendance-modal-attendance {
  /* height: 200px; */
  border-radius: 6px;
  padding: 10px 2px;
}

.user-attendance-modal-attendance .ant-divider.ant-divider-horizontal {
  margin: 5px auto;
  min-width: 90%;
  width: 90%;
}

.user-attendance-modal-attendance .stamp-col {
  padding: 2px;
}

.user-attendance-modal-attendance .stamp-col div {
  text-align: center;
  font-size: 11px;
}

.user-attendance-modal-attendance .stamp-col .ant-image {
  display: flex;
  overflow: hidden;
}

.user-attendance-modal-attendance .stamp-col .ant-image .ant-image-img {
  margin: auto;
  max-width: 75px;
}

.user-attendance-modal-attendance-footer {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}
/* UserAttendanceModal */

/* complete 스탬프 애니메이션 */
.user-attendance-modal-attendance .btnEffect {
  max-width: 75px;
  margin: auto;
  border-radius: 100% !important;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.user-attendance-modal-attendance .btnEffect:hover {
  text-decoration: none;
}

.user-attendance-modal-attendance .btnEffect:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 2.5s ease-in-out infinite;
}

.user-attendance-modal-attendance .btnEffect .ant-image-img {
  border-radius: 100% !important;
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
/* complete 스탬프 애니메이션 */

/* VideoPlayer */
.video-player-wrapper {
  position: relative;
  padding-top: 90%;
  /* Player ratio: 100 / (1280 / 720) */
  margin: 0 0 30px;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
}
/* VideoPlayer */

/* 댓글 */
.comment-wrap {
  padding-bottom: 50px;
}
.comment-wrap .ant-card {
  margin-bottom: 20px;
}
.comment-wrap .ant-card-body {
  padding: 0;
  padding-top: 1px;
}
.comment-list-refresh-wrap {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 16px;
}
.comment-wrap .comment-add-wrap .ant-card-head-title {
  text-overflow: unset;
  white-space: normal;
}
.comment-wrap .comment-add-wrap .ant-comment-inner {
  padding: 0;
}

#infinite-scroll-comment {
  min-height: 330px;
  height: 330px;
  overflow-y: auto;
}

.comment-list-wrap .ant-list.ant-list-split .ant-spin-nested-loading {
  padding: 12px;
}

.comment-user-name {
  border: 0 !important;
  margin-bottom: 1px !important;
}
.comment-user-name:hover {
  border: 1px solid #1890ff;
}

.comment-content {
  font-size: 16px !important;
  border: 0 !important;
  border-top: 1px solid #f0f0f0 !important;
  margin-bottom: 1px !important;
}
.comment-content::placeholder {
  font-size: 16px;
}
.comment-content:hover {
  border: 1px solid #1890ff;
}

.comment-btn {
  width: 100% !important;
  height: 45px !important;
  font-size: 16px !important;
  padding-right: 24px !important;
}
/* 댓글 */

/* SearchAttendanceModal */
.ant-modal-wrap.search-attendance-modal-wrap .ant-modal-body {
  min-height: 380px;
}

.ant-modal-wrap.search-attendance-modal-wrap .ant-modal,
.ant-modal-wrap.search-attendance-modal-wrap .ant-modal-content {
  border-radius: 15px;
}
.ant-modal-wrap.search-attendance-modal-wrap .ant-modal-header {
  border-radius: 15px 15px 0 0;
}

.ant-modal-wrap.search-attendance-modal-wrap .search-wrap {
  text-align: center;
}

.ant-modal-wrap.search-attendance-modal-wrap .search-wrap .ant-input-affix-wrapper {
  height: 40px;
  border-radius: 20px;
  /* max-width: 500px; */
  /* box-shadow: 0 2px 4px rgb(0 0 0 / 30%); */
}

.ant-modal-wrap.search-attendance-modal-wrap .search-wrap .ant-input-affix-wrapper .anticon.anticon-search {
  color: #4285f4;
  font-size: 22px;
}

.ant-modal-wrap.search-attendance-modal-wrap .excel-btn {
  background-color: #2e7d32;
  color: #fff;
}
/* SearchAttendanceModal */

/* Admin */
.admin-search-wrap .ant-row.ant-form-item {
  margin-bottom: 0;
}

.admin-grid-wrap .grid-info-wrap {
  margin-bottom: 5px;
}
.admin-grid-wrap .grid-info-wrap .total-cnt-wrap {
  padding-top: 16px;
}
.admin-grid-wrap .grid-info-wrap .excel-btn-wrap {
  text-align: right;
  cursor: pointer;
}
.admin-grid-wrap .grid-info-wrap .excel-btn-wrap .ant-tag {
  padding: 4px 10px;
  color: #2e7d32;
  border-radius: 4px;
  margin: 0;
}

.admin-grid-wrap {
  margin-top: 14px;
  padding-bottom: 30px;
}

.admin-grid-wrap .ag-theme-alpine {
  border-radius: 10px;
  /* box-shadow: 0 2px 15px rgb(0 0 0 / 30%); */
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
/* Admin */

/* PC */
@media (min-width: 1024px) {
  #main-layout {
    background-position-y: 30%;
  }
  .user-attendance-modal-title {
    height: 240px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
  }
  .user-attendance-modal-subtitle {
    font-size: 18px;
  }
  .user-attendance-modal-title .ant-image {
    width: 280px !important;
    height: 230px !important;
  }
  .user-attendance-modal-title .ant-image-img {
    height: 230px !important;
  }
  .ant-modal-wrap.search-attendance-modal-wrap .ant-modal {
    min-width: 700px;
    top: 100px;
  }
  .ant-modal-wrap.search-attendance-modal-wrap .ant-modal-body {
    min-height: 900px;
  }
  .ant-modal-wrap.search-attendance-modal-wrap .ant-modal-body .ag-theme-alpine {
    min-height: 740px !important;
  }
  .user-attendance-modal-info {
    font-size: 28px;
  }
  .user-attendance-modal-info .user-name {
    font-size: 32px;
  }
  .user-attendance-modal-attendance {
    padding: 40px 2px 30px !important;
  }
  .user-attendance-modal-attendance .stamp-col div {
    font-size: 18px !important;
  }
  .user-attendance-modal-attendance .stamp-col .ant-image .ant-image-img {
    max-width: 100px;
  }
  .user-attendance-modal-attendance .btnEffect {
    max-width: 100px;
  }
  .user-attendance-modal-attendance-footer {
    font-size: 20px !important;
    margin-bottom: 30px;
  }
}

/* 테블릿 세로 (min-height, landscape가 들어간 이유: 갤럭시탭 가상 키보드 버그) */
@media (min-height: 800px) and (orientation: landscape),
  (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  #main-layout {
    background-position-y: 30%;
  }
  .user-attendance-modal-title {
    height: 240px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
  }
  .user-attendance-modal-subtitle {
    font-size: 18px;
  }
  .user-attendance-modal-title .ant-image {
    width: 280px !important;
    height: 230px !important;
  }
  .user-attendance-modal-title .ant-image-img {
    height: 230px !important;
  }
  .ant-modal-wrap.search-attendance-modal-wrap .ant-modal {
    min-width: 700px;
    top: 100px;
  }
  .ant-modal-wrap.search-attendance-modal-wrap .ant-modal-body {
    min-height: 900px;
  }
  .ant-modal-wrap.search-attendance-modal-wrap .ant-modal-body .ag-theme-alpine {
    min-height: 740px !important;
  }
  .user-attendance-modal-info {
    font-size: 28px;
  }
  .user-attendance-modal-info .user-name {
    font-size: 32px;
  }
  .user-attendance-modal-attendance {
    padding: 40px 2px 30px !important;
  }
  .user-attendance-modal-attendance .stamp-col div {
    font-size: 18px !important;
  }
  .user-attendance-modal-attendance .stamp-col .ant-image .ant-image-img {
    max-width: 100px;
  }
  .user-attendance-modal-attendance .btnEffect {
    max-width: 100px;
  }
  .user-attendance-modal-attendance-footer {
    font-size: 20px !important;
    margin-bottom: 30px;
  }
}

/* 테블릿 가로 */
@media (min-width: 899px) and (max-width: 1023px) and (orientation: landscape) {
  .user-attendance-modal-title {
    height: 220px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
  }
  .user-attendance-modal-subtitle {
    font-size: 18px;
  }
  .user-attendance-modal-title .ant-image {
    width: 260px !important;
    height: 210px !important;
  }
  .user-attendance-modal-title .ant-image-img {
    height: 210px !important;
  }
  .ant-modal-wrap.search-attendance-modal-wrap .ant-modal {
    min-width: 700px;
    top: 100px;
  }
  .ant-modal-wrap.search-attendance-modal-wrap .ant-modal-body {
    min-height: 900px;
  }
  .ant-modal-wrap.search-attendance-modal-wrap .ant-modal-body .ag-theme-alpine {
    min-height: 740px !important;
  }
  .user-attendance-modal-info {
    font-size: 28px;
  }
  .user-attendance-modal-info .user-name {
    font-size: 32px;
  }
  .user-attendance-modal-attendance {
    padding: 40px 2px 30px !important;
  }
  .user-attendance-modal-attendance .stamp-col div {
    font-size: 18px !important;
  }
  .user-attendance-modal-attendance .stamp-col .ant-image .ant-image-img {
    max-width: 100px;
  }
  .user-attendance-modal-attendance .btnEffect {
    max-width: 100px;
  }
  .user-attendance-modal-attendance-footer {
    font-size: 20px !important;
    margin-bottom: 30px;
  }
}

/* 모바일 가로 */
@media (min-width: 480px) and (max-width: 896px) and (orientation: landscape) {
  .user-attendance-modal-title {
    height: 240px;
  }
  .user-attendance-modal-subtitle {
    font-size: 18px;
  }
  .user-attendance-modal-title .ant-image {
    width: 280px !important;
    height: 230px !important;
  }
  .user-attendance-modal-title .ant-image-img {
    height: 230px !important;
  }
  .search-attendance-modal-wrap > .ant-modal {
    max-width: calc(100vw - 30px);
  }
  .user-add-modal-wrap .ant-modal {
    max-width: calc(100vw - 50px);
  }
  .ant-modal.ant-modal-confirm.ant-modal-confirm-confirm {
    max-width: calc(100vw - 50px);
  }
}

/* 모바일 세로 */
@media (max-width: 480px) and (orientation: portrait) {
  .user-add-modal-wrap .ant-modal {
    max-width: calc(100vw - 50px);
  }
}
