/*
 * 온라인 체크 서비스별 스타일 
 */

/* 특새 (17차) */
#main-layout.main-layout-dawn-worship-17th {
  /* 메인 화면 */
  background-image: url(/src/assets/images/dawn-worship-17th/background.jpg);

  /* 메인 화면 타이틀 */
  .main-title {
    background-image: url(/src/assets/images/dawn-worship-17th/title.png);
    width: 192px;
    height: 160px;
  }

  .ant-modal-wrap.user-attendance-modal-wrap {
    /* 출석체크판 */
    .ant-modal-body {
      background-image: url(/src/assets/images/dawn-worship-17th/attendance_bg.png);

      /* 출석체크판 타이틀 */
      .main-title {
        background-image: url(/src/assets/images/dawn-worship-17th/title.png);
        width: 192px;
        height: 160px;
      }

      .user-attendance-modal-info {
        font-family: 'Eulyoo1945-SemiBold';
        font-weight: bold;

        /* 출석체크판 사용자명 */
        .user-name {
          color: #6f2629;
        }
      }

      /* 출석체크판 박스 */
      .user-attendance-modal-attendance {
        background-color: #cebb9c;

        .stamp-col div {
          font-family: 'Eulyoo1945-Regular';
          font-weight: bold;
        }
      }

      /* 출석체크판 Footer */
      .user-attendance-modal-attendance-footer {
        font-family: 'Eulyoo1945-Regular';
        font-weight: bold;
      }
    }
  }
}

/* 가을성경산책 (2022년)*/
#main-layout.main-layout-bible-walk-2022 {
  /* 메인 화면 */
  background-image: url(/src/assets/images/bible-walk-2022/background.jpg);

  /* 메인 화면 타이틀 */
  .main-title {
    background-image: url(/src/assets/images/bible-walk-2022/title.png);
    width: 186px;
    height: 150px;
  }

  .ant-modal-wrap.user-attendance-modal-wrap {
    /* 출석체크판 */
    .ant-modal-body {
      background-image: url(/src/assets/images/bible-walk-2022/attendance_bg.png);

      /* 출석체크판 타이틀 */
      .main-title {
        background-image: url(/src/assets/images/bible-walk-2022/title.png);
        width: 192px;
        height: 160px;
      }

      .user-attendance-modal-info {
        font-family: 'Eulyoo1945-SemiBold';
        font-weight: bold;

        /* 출석체크판 사용자명 */
        .user-name {
          color: #6f2629;
        }

        /* 출석체크판 사용자명 옆 문구 */
        .info-text {
          color: #f7e9e9;
        }
      }

      /* 출석체크판 박스 */
      .user-attendance-modal-attendance {
        background-color: #f7e9e9;

        .stamp-col div {
          font-family: 'Eulyoo1945-Regular';
          font-weight: bold;
        }
      }

      /* 출석체크판 Footer */
      .user-attendance-modal-attendance-footer {
        font-family: 'Eulyoo1945-Regular';
        font-weight: 400;
        color: #fff;
      }
    }
  }
}

/* 가을성경산책 (2023년)*/
#main-layout.main-layout-bible-walk-2023 {
  /* 메인 화면 */
  background-image: url(/src/assets/images/bible-walk-2023/background.jpg);

  /* 메인 화면 타이틀 */
  .main-title {
    background-image: url(/src/assets/images/bible-walk-2023/title.png);
    width: 186px;
    height: 150px;
  }

  .ant-modal-wrap.user-attendance-modal-wrap {
    /* 출석체크판 닫기 버튼 */
    button.ant-modal-close {
      color: #9496a2;
    }

    /* 출석체크판 */
    .ant-modal-body {
      background-image: url(/src/assets/images/bible-walk-2023/attendance_bg.png);

      /* 출석체크판 타이틀 */
      .main-title {
        background-image: url(/src/assets/images/bible-walk-2023/title.png);
        width: 192px;
        height: 160px;
      }

      .user-attendance-modal-info {
        font-family: 'MaruBuri-SemiBold';
        font-weight: bold;

        /* 출석체크판 사용자명 */
        .user-name {
          color: #c1b08f;
        }

        /* 출석체크판 사용자명 옆 문구 */
        .info-text {
          color: #fff;
        }
      }

      /* 출석체크판 박스 */
      .user-attendance-modal-attendance {
        background-color: #424660;

        .stamp-col div {
          font-family: 'MaruBuri-Regular';
          color: #fff;
        }
      }

      /* 출석체크판 Footer */
      .user-attendance-modal-attendance-footer {
        font-family: 'MaruBuri-Regular';
        font-weight: 400;
        color: #fff;
      }
    }
  }
}
