/*
 * 온라인 체크 서비스별 스타일 
 */

/* 특새 (17차) */
#main-layout.main-layout-dawn-worship-17th {
  /* 메인 화면 */
  background-image: url(/src/assets/images/dawn-worship-17th/background.jpg);

  /* 메인 화면 타이틀 */
  .main-title {
    background-image: url(/src/assets/images/dawn-worship-17th/title.png);
    width: 192px;
    height: 160px;
  }

  .ant-modal-wrap.user-attendance-modal-wrap {
    /* 출석체크판 */
    .ant-modal-body {
      background-image: url(/src/assets/images/dawn-worship-17th/attendance_bg.png);

      /* 출석체크판 타이틀 */
      .main-title {
        background-image: url(/src/assets/images/dawn-worship-17th/title.png);
        width: 192px;
        height: 160px;
      }

      .user-attendance-modal-info {
        font-family: 'Eulyoo1945-SemiBold';
        font-weight: bold;

        /* 출석체크판 사용자명 */
        .user-name {
          color: #6f2629;
        }
      }

      /* 출석체크판 박스 */
      .user-attendance-modal-attendance {
        background-color: #cebb9c;

        .stamp-col div {
          font-family: 'Eulyoo1945-Regular';
          font-weight: bold;
        }
      }

      /* 출석체크판 Footer */
      .user-attendance-modal-attendance-footer {
        font-family: 'Eulyoo1945-Regular';
        font-weight: bold;
      }
    }
  }
}

/* 특새 (20차) */
#main-layout.main-layout-dawn-worship-20th {
  /* 메인 화면 */
  background-image: url(/src/assets/images/dawn-worship-20th/background.jpg);

  /* 메인 화면 타이틀 */
  .main-title {
    background-image: url(/src/assets/images/dawn-worship-20th/title.png);
    width: 300px;
    height: 160px;
  }

  .ant-modal-wrap.user-attendance-modal-wrap {
    /* 출석체크판 */
    .ant-modal-body {
      /* background-image: url(/src/assets/images/dawn-worship-20th/attendance_bg.png); */
      background-color: #fff;
      border-radius: 10px;

      /* 출석체크판 타이틀 */
      .main-title {
        background-image: url(/src/assets/images/dawn-worship-20th/attendance_title.png);
        width: 300px;
        height: 160px;
      }

      .user-attendance-modal-info {
        font-family: 'Eulyoo1945-SemiBold';
        font-weight: bold;

        /* 출석체크판 사용자명 */
        .user-name {
          color: #5d70a0;
        }
      }

      /* 출석체크판 박스 */
      .user-attendance-modal-attendance {
        background-color: #f1f1f1;

        .stamp-col div {
          font-family: 'Eulyoo1945-Regular';
          font-weight: bold;
        }
      }

      /* 출석체크판 Footer */
      .user-attendance-modal-attendance-footer {
        font-family: 'Eulyoo1945-Regular';
        font-weight: bold;
      }
    }
  }
}

/* 특새 (21차) */
#main-layout.main-layout-dawn-worship-21th {
  /* 메인 화면 */
  background-image: url(/src/assets/images/dawn-worship-21th/background.jpg);

  /* 메인 화면 타이틀 */
  .main-title {
    background-image: url(/src/assets/images/dawn-worship-21th/title.png);
    width: 208px;
    height: 160px;
  }

  /* 메인 화면 댓글 탭 */
  .ant-tabs-nav {
    margin: 0;

    .ant-tabs-nav-list {
      width: 100%;

      .ant-tabs-tab.ant-tabs-tab-active[data-node-key='2'] {
        .ant-tabs-tab-btn {
          color: #6e4e85;
        }
      }
    }

    .ant-tabs-tab {
      background: #888;
      color: #fff;
      border: 1px solid #888;
      border-bottom: 1px solid #888;
      width: 50%;
      justify-content: center;
    }

    .ant-tabs-tab.ant-tabs-tab-active {
      background: #fff;
      border: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }
  .ant-tabs-nav::before {
    border-bottom: 0;
  }
  /* 메인 화면 댓글 탭 내용 */
  .ant-tabs-content-holder {
    #rc-tabs-0-panel-2 button {
      background-color: #6e4e85;
      border: 1px solid #6e4e85;
    }
    .ant-card.comment-add-wrap {
      border-radius: 0px 0px 2px 2px;
    }

    /* 채팅 영역 */
    .chat-wrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 2px solid #6e4e85;
      border-radius: 20px;
      background-color: rgb(0, 0, 0, 0.8);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;

      /* 채팅 타이틀 */
      .chat-title-wrap {
        border-bottom: 2px solid #6e4e85;
        padding: 4% 1% 4% 1%;

        .chat-title {
          background-image: url(/src/assets/images/prayer-altar/chat_title.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: 4vh;
        }
      }

      /* 채팅 컨텐츠 */
      .chat-content {
        #chat-infinite-scroll {
          min-height: 330px;
          height: 500px;
          overflow-y: auto;
          margin: 4px;
        }

        .ant-comment-inner {
          padding: 16px;
        }
        .ant-comment-content-author-name {
          color: #868299;
          font-size: 12px;
        }
        .ant-comment-content-detail {
          width: fit-content;
          background: #433f57;
          border-radius: 0px 10px 10px 10px;
          padding: 4px 10px;
          color: #fff;
        }
        .ant-comment-content-detail:before {
          content: '';
          position: absolute;
          left: 0;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-right-color: #433f57;
          border-left: 0;
          border-top: 0;
          margin-top: -4px;
          margin-left: -6px;
        }
      }
    }
  }

  .ant-modal-wrap.user-attendance-modal-wrap {
    /* 출석체크판 닫기 버튼 */
    button.ant-modal-close {
      color: #429ecf;
    }

    /* 출석체크판 */
    .ant-modal-body {
      /* background-image: url(/src/assets/images/dawn-worship-21th/attendance_bg.png); */
      background-color: #fff;
      border-radius: 10px;
      padding: 24px 16px;

      /* 출석체크판 타이틀 */
      .main-title {
        background-image: url(/src/assets/images/dawn-worship-21th/attendance_title.png);
        width: 208px;
        height: 160px;
      }

      .user-attendance-modal-info {
        font-family: 'MaruBuri-SemiBold';
        font-weight: bold;

        /* 출석체크판 사용자명 */
        .user-name {
          color: #429ecf;
        }
      }

      /* 출석체크판 박스 */
      .user-attendance-modal-attendance {
        background-color: #f1f1f1;
        padding: 10px 6px;

        .stamp-col div {
          font-family: 'MaruBuri-Regular';
        }

        .stamp-col .ant-image {
          margin-bottom: 4px;
        }
      }

      /* 출석체크판 Footer */
      .user-attendance-modal-attendance-footer {
        font-family: 'MaruBuri-Regular';
        font-size: 12px;
      }
    }
  }
}

/* 가을성경산책 (2022년)*/
#main-layout.main-layout-bible-walk-2022 {
  /* 메인 화면 */
  background-image: url(/src/assets/images/bible-walk-2022/background.jpg);

  /* 메인 화면 타이틀 */
  .main-title {
    background-image: url(/src/assets/images/bible-walk-2022/title.png);
    width: 186px;
    height: 150px;
  }

  .ant-modal-wrap.user-attendance-modal-wrap {
    /* 출석체크판 */
    .ant-modal-body {
      background-image: url(/src/assets/images/bible-walk-2022/attendance_bg.png);

      /* 출석체크판 타이틀 */
      .main-title {
        background-image: url(/src/assets/images/bible-walk-2022/title.png);
        width: 192px;
        height: 160px;
      }

      .user-attendance-modal-info {
        font-family: 'Eulyoo1945-SemiBold';
        font-weight: bold;

        /* 출석체크판 사용자명 */
        .user-name {
          color: #6f2629;
        }

        /* 출석체크판 사용자명 옆 문구 */
        .info-text {
          color: #f7e9e9;
        }
      }

      /* 출석체크판 박스 */
      .user-attendance-modal-attendance {
        background-color: #f7e9e9;

        .stamp-col div {
          font-family: 'Eulyoo1945-Regular';
          font-weight: bold;
        }
      }

      /* 출석체크판 Footer */
      .user-attendance-modal-attendance-footer {
        font-family: 'Eulyoo1945-Regular';
        font-weight: 400;
        color: #fff;
      }
    }
  }
}

/* 가을성경산책 (2023년)*/
#main-layout.main-layout-bible-walk-2023 {
  /* 메인 화면 */
  background-image: url(/src/assets/images/bible-walk-2023/background.jpg);

  /* 메인 화면 타이틀 */
  .main-title {
    background-image: url(/src/assets/images/bible-walk-2023/title.png);
    width: 186px;
    height: 150px;
  }

  .ant-modal-wrap.user-attendance-modal-wrap {
    /* 출석체크판 닫기 버튼 */
    button.ant-modal-close {
      color: #9496a2;
    }

    /* 출석체크판 */
    .ant-modal-body {
      background-image: url(/src/assets/images/bible-walk-2023/attendance_bg.png);

      /* 출석체크판 타이틀 */
      .main-title {
        background-image: url(/src/assets/images/bible-walk-2023/title.png);
        width: 192px;
        height: 160px;
      }

      .user-attendance-modal-info {
        font-family: 'MaruBuri-SemiBold';
        font-weight: bold;

        /* 출석체크판 사용자명 */
        .user-name {
          color: #c1b08f;
        }

        /* 출석체크판 사용자명 옆 문구 */
        .info-text {
          color: #fff;
        }
      }

      /* 출석체크판 박스 */
      .user-attendance-modal-attendance {
        background-color: #424660;

        .stamp-col div {
          font-family: 'MaruBuri-Regular';
          color: #fff;
        }
      }

      /* 출석체크판 Footer */
      .user-attendance-modal-attendance-footer {
        font-family: 'MaruBuri-Regular';
        font-weight: 400;
        color: #fff;
      }
    }
  }
}
